:root {
    --border-radius: 50px;
}

body {
    height: 100vh;
    font-family: 'Helvetica', serif;
    background: var(--background);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

header {
    position: relative;
    font-size: xx-large;
    background-color: #CD5C5C;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name-tag {
    height: 210px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

#button {
    position: relative;
    min-height: 30px;
    min-width: 90px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

#button:hover {
    background-color: rgb(164,117,81);
    transition: 0.75s;
}

#ehila {
    height: 70px;
    color: white;
    padding-top: 25px;
    background-color: rgb(0, 140, 69);
    }

#name {
    height: 70px;
    padding-top: 25px;
    font-size: large;
    font-style: italic;
    background-color: rgb(244,245,240);
    align-items: center;
    justify-content: center;
}

#footer{
    padding-top: 25px;
    color: white;
    height: 70px;
    background-color: rgb(205,33,42);
    font-weight: 700;
}
main {
    padding: 20px;
}


